<ion-content>
  <div class="flex-center">
    <!-- Card -->
    <ion-card>
      <!-- Header -->
      <ion-card-header>
        <!-- Title -->
        <ion-card-title color="success" >Skeleton App</ion-card-title>
        <!-- Subtitle -->
        <ion-card-subtitle>Everything starts here</ion-card-subtitle>
      </ion-card-header>
      <!-- Content -->
      <ion-card-content>
        <!-- Text -->
        <ion-label>Welcome!</ion-label>
        <!-- Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <!-- Password -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <!-- Buttons -->
        <ion-button color="success" size="full">LOGIN</ion-button>
        <ion-button color="danger" fill="clear" size="full">Create a free account</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
